

/*testimonial card*/
.testimonialCard {
    width: 409px;
    height: 237px;
    padding: 34px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border-radius: 28px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow:
            0 0 35px rgba(0, 0, 0, 0.2),
            inset 0 0 20px rgba(255, 255, 255, 0.05);

    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #ffffff;
}
.userRating {
    display: flex;
    align-items: center;
    gap: 20px;
}
.userImage {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
}
.userImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.userName h2 {
    font-size: 22px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    margin-bottom: 6px;
}
.userFeedback {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    opacity: 0.9;
    text-align: left;
}

@media (max-width:830px) {
    .testimonialCard{
        margin: -5rem auto 0 auto;
    }
}

@media (max-width:635px) {
    .testimonialCard{
        margin: -8rem auto 0 auto;
    }
}

@media (max-width:440px) {
    .testimonialCard {
        width: 309px;
        height: 237px;
        padding: 24px;
        margin: -8rem auto 0 auto;
    }
}