.wrapper{
    height: 1099px;
    font-family: Inter;
}
/*heading*/
.heading{
    /*position: relative;*/
    text-align: center;
}
/*card layout*/
.card{
    position: relative;
   overflow: hidden;
    height: 755px;
    border-radius: 92px;
}
.cardBg{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.content{
        position: relative;
        z-index: 2;
        padding: 40px;
        height: 100%;
        display: flex;
        /*flex-direction: column;*/
        justify-content: space-between;
}

.plant{
    height: 877px;
    width: 877px;
    object-fit: contain;
}

.textBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    color: var(--dim-white);
    font-family: Inter;
}
.textBlock h3{
    font-size: 38px;
    font-weight: 600;
}
.textBlock p{
font-size: 24px;
    font-weight: 600;
}

.bottomRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.exploreBtn{
    width: 217px;
    height: 64px;
    border-radius: 12px;
    border:2px solid var(--dim-white);
    padding: 15px 59px;
    font-size: 28px;
    color: var(--dim-white);
}

.sliderNav{
    display: flex;
    align-items: center;
    column-gap: 43px;
}

.sliderNav img{
    width: 24px;
    height: 24px;
}
.sliderNav p{
    font-size: 20px;
    
}

.bold{
    font-weight: bold;
    font-size: 24px;
}