.heroWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 3rem;
    column-gap: 60px;

}

.heroContent {
    display: grid;
    grid-template-rows: 280px 237px;
    row-gap: 173px;
}
.testimonialCard {
    width: 409px;
    height: 237px;
    padding: 34px;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    border-radius: 28px;
    border: 1px solid rgba(255, 255, 255, 0.2);

    box-shadow:
            0 0 35px rgba(0, 0, 0, 0.2),
            inset 0 0 20px rgba(255, 255, 255, 0.05);

    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #ffffff;
}

.userRating {
    display: flex;
    align-items: center;
    gap: 20px;
}

.userImage {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
}
.userImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.userName h2 {
    font-size: 22px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    margin-bottom: 6px;
}


/* feedback text */
.userFeedback {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    opacity: 0.9;
    text-align: left;
}



.heroImage{
    width:512px;
    height:719px;
}


.heroText{
    font-family: Inter, sans-serif;
    max-width: 793px;
    width: 100%;
}
.heroText h1{
    font-size: 80px;
    font-weight: 600;
}
.heroText p{
    font-size: 20px;
    padding-bottom: 10px;
}
.demo{
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.ellipse{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255,1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.demo p{
    font-family: "Indie Flower",Inter,sans-serif;
    font-size: 22px;
}




.card {
    position: relative;
    width: 512px;
    height: 644px;
    font-family: Inter, sans-serif;
}


.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.plantImg {
    width: 459px;
    height: 459px;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}
.inner {
    position: absolute;
    bottom: 0;
    width: 100%;
}