.heroWrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-block: 3rem;
    column-gap: 60px;
}

.heroContent {
    display: grid;
    grid-template-rows: 280px 237px;
    row-gap: 173px;
    max-width: 602px;
}


.heroText{
    font-family: Inter, sans-serif;
    max-width: 793px;
    width: 100%;
}
.heroText h1{
    font-size: 80px;
    font-weight: 600;
}
.heroText p{
    font-size: 20px;
    padding-bottom: 10px;
}
.demo{
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.ellipse{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255,1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.demo p{
    font-family: "Indie Flower",Inter,sans-serif;
    font-size: 22px;
}


/*left plant card*/
.card{
    position: relative;
    max-width: 512px;
    max-height: 640px;
    z-index: 1;
}
.bg{
    position: relative;
    inset: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}
.plantImg{
    position: absolute;
    top: -20%;
    width: 459px;
}

.inner{
    font-family: Inter, sans-serif;
    position: absolute;
top:340px;
 margin-left: 51px;
    color: var(--dim-white);
}
.inner h2{
    font-weight: 400;
    font-size: 23px;
}
.slide{
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;
}

.parentDiv {
    display: flex;
    align-items: center;
    column-gap: 66px;
}
.parentDiv h2 {
    margin: 0;
    font-size: 32px;
}



@media (max-width: 1200px) {
    .plantImg{
        position: absolute;
        top: -10%;
    }
    .inner{
        top:340px;
        margin-left: 51px;
    }
    .parentDiv {
        column-gap: 46px;
        padding-bottom: 5px;
    }
    .parentDiv h2 {
        font-size: 26px;
    }

}

@media (max-width: 980px) {
    .heroWrapper {
        column-gap: 20px;
        grid-template-columns: 1.5fr 1fr;
    }
    .heroText{
        max-width: 400px;
    }
    .heroText h1{
        font-size: 50px;
    }
    .heroText p{
        font-size: 16px;
    }

    .ellipse{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .demo p{
        font-size: 18px;
    }


    /*left plant card*/
    .card{
        position: relative;
        max-width: 312px;
        max-height: 420px;
        z-index: 1;
        place-content: center;
    }

    .plantImg{
        position: absolute;
        top: -20%;
        left: 50%;
        transform: translateX(-50%);
        width: 259px;
    }

    .inner{
        top:200px;
        margin-left: 31px;
    }
    .inner h2{
        font-size: 18px;
    }

    .parentDiv {
        display: flex;
        align-items: center;
        column-gap: 46px;
    }
    .parentDiv h2 {
        font-size: 24px;
    }
}

@media (max-width: 830px) {

    .heroWrapper {
        grid-template-columns:  1fr;
        padding-block: 3rem;
        justify-items: center;
        row-gap: 60px;
        margin: 0 auto;
    }

    .heroContent {
        display: grid;
        grid-template-rows: 280px 237px;
        row-gap: 173px;
        max-width: 602px;
    }

    .heroText{
        font-family: Inter, sans-serif;
        max-width: 793px;
        width: 100%;
    }
    .heroText h1{
        font-size: 80px;
        font-weight: 600;
    }
    .heroText p{
        font-size: 20px;
        padding-bottom: 10px;
    }
    .demo{
        display: flex;
        align-items: center;
        column-gap: 12px;
    }
    .ellipse{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255,1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .demo p{
        font-family: "Indie Flower",Inter,sans-serif;
        font-size: 22px;
    }


    /*left plant card*/

    .plantImg{
        top: -25%;
    }

    .inner{
        margin-inline: 31px;
        top: 200px;
    }

    .parentDiv {
        column-gap: 21px;
    }
    .parentDiv h2 {
        margin: 0;
        font-size: 22px;
    }

}

@media (max-width: 640px) {
    .heroWrapper {
        margin-top: -2rem;
    }
    .heroText{
        max-width: 580px;
    }
    .heroText{
     justify-items: center;
        text-align: center;
    }
    .heroText h1{
        font-size: 55px;
    }
    .heroText p{
        font-size: 16px;
    }
    .ellipse{
        width: 50px;
        height: 50px;
    }
    .card{
        margin-top: -5rem;
    }
}

@media (max-width: 440px) {
    .heroText h1{
        font-size: 45px;
    }
}