.btn {
    width: 180px;
    height: 56px;
    border-radius: 12px;
    border: 2px solid var(--dim-white);
    font-size: 22px;
    color: var(--dim-white);
    background: transparent;
}

/* Responsive */
@media (max-width: 830px) {
    .btn {
        width: 120px;
        height: 40px;
        font-size: 18px;
    }
}
