.btn {
    width: 180px;
    height: 56px;
    border-radius: 12px;
    border: 2px solid var(--dim-white);
    font-size: 22px;
    color: var(--dim-white);
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
}

@media (max-width: 830px) {
    .btn {
        width: 150px;
        height: 48px;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .btn {
        width: 130px;
        height: 42px;
        font-size: 16px;
    }
}
