
/* Left Section */
.left {
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.logo {
    width: 48px;
    height: 48px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brandName {
    color: var(--dim-white);
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 700;
}
@media (max-width: 440px) {
    .left {
        column-gap: 8px;
    }
    .logo {
        width: 35px;
        height: 35px;
    }
    .brandName {
        font-size: 16px;
    }
}
