.wrapper {
    width: 100%;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
}

.heading img {
    width: 260px;
    height: auto;
}

@media (min-width: 768px) {
    .wrapper {
        padding: 80px 40px;
        row-gap: 90px;
    }

    .heading img {
        width: 340px;
    }
}
