
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 52px;
}

/* Desktop Nav */
.nav {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-family: "Indie Flower", cursive;
    color: var(--pure-white);
}

.nav a:not(:last-child) {
    margin-right: 52px;
}

.nav > *:hover {
    color: #d9d9d9;
}


.polygonImg {
    width: 12px;
    height: 7px;
    padding-left: 3px;
}

/* Right Section */
.right {
    display: flex;
    align-items: center;
    color: var(--dim-white);
}

.right > *:not(:last-child) {
    margin-right: 59px;
}

.icon {
    width: 26px;
    height: 26px;
}


.hamburger {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.hamburger span {
    width: 31px;
    height: 3px;
    background-color: var(--pure-white);
    border-radius: 2px;
    transition: 0.3s ease;
}
.closeIcon{
    height: 54px;
    width: 54px;
    font-weight: bold;
    color: var(--pure-white);
    margin-left: auto;
    position: fixed;
    right: 10px;
    font-family: Inter;
}

/* Mobile Nav Slide-in */
.mobileNav {
    position: fixed;
    top: 0;
    right: -260px;
    width: 250px;
    height: 100vh;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(12px);
    border-radius: 0 0 0 20px;
    transition: 0.3s ease;
    z-index: 1000;
}

.mobileNav.open {
    right: 0;
}


/* Tablet */
@media (max-width: 1090px) {
    .nav {
        font-size: 18px;
    }

    .nav a:not(:last-child) {
        margin-right: 32px;
    }

    .right > *:not(:last-child) {
        margin-right: 39px;
    }
}


@media (max-width: 979px) {
    .desktopNav {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .nav {
        display: none !important;
    }
    .navlinks{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 20%;
    }
    .navlinks >a {
        padding-block: 1rem;
        font-size: 32px;
    }
}


@media (max-width: 600px) {

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 8px 12px;
    }

    /* Left Section */
    .left {
        display: flex;
        align-items: center;
        column-gap: 13px;
    }

    .logo {
        width: 30px;
        height: 30px;
    }

    .logo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .brandName {
        font-size: 16px;
    }

    .icon {
        width: 16px;
        height: 16px;
    }

    .hamburger span {
        width: 31px;
        height: 3px;
        background-color: var(--pure-white);
        border-radius: 2px;
        transition: 0.3s ease;
    }
    .short{
        width: 28px;
    }
}
