/* ------------------------- */
/*  BASE / MOBILE STYLES    */
/* ------------------------- */

.card {
    position: relative;
    width: 90%;
    max-width: 360px;
    margin: auto;
    font-family: Inter, sans-serif;
}

.bg {
    position: relative;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

/* Plant Image */
.plantImg {
    position: absolute;
    top: -22%;
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
}

/* Card inner content */
.inner {
    position: absolute;
    top: 200px;
    width: 100%;
    padding-inline: 22px;
    color: var(--dim-white);
}

.cardContent h2 {
    font-size: 20px;
    font-weight: 400;
}

.cardContent p {
    font-size: 16px;
    color: var(--dim-white);
}

.bottom {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom h3 {
    font-size: 28px;
}

.bottom img {
    width: 48px;
    height: 48px;
}


/* ------------------------- */
/*  TABLET (min-width: 600px) */
/* ------------------------- */

@media (min-width: 600px) {
    .card {
        max-width: 420px;
    }

    .plantImg {
        width: 320px;
        top: -20%;
    }

    .inner {
        top: 240px;
    }

    .cardContent h2 {
        font-size: 22px;
    }

    .cardContent p {
        font-size: 18px;
    }

    .bottom h3 {
        font-size: 32px;
    }

    .bottom img {
        width: 52px;
        height: 52px;
    }
}


@media (min-width: 900px) {
    .card {
        max-width: 500px;
        max-height: 640px;
    }

    .plantImg {
        width: 400px;
        top: -18%;
    }

    .inner {
        top: 280px;
    }

    .cardContent h2 {
        font-size: 26px;
    }
    .cardContent p {
        font-size: 12px;
    }

    .cardContent p {
        font-size: 14px;
    }
    .bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
    margin-top: -10px;
    }

    .bottom h3 {
        font-size: 22px;
    }

    .bottom img {
        width: 33px;
        height: 33px;
        margin-bottom: 3rem;
    }
}


@media (min-width: 1200px) {
    .card {
        max-width: 512px;
        max-height: 644px;
    }

    .plantImg {
        width: 460px;
        top: -20%;
    }

    .inner {
        top: 300px;
        padding-inline: 32px;
        margin-top: -1rem;
    }

    .cardContent h2 {
        font-size: 28px;
        font-weight: 500;
    }

    .cardContent p {
        font-size: 14px;
    }
    .bottom{
        display: flex;
    justify-content: space-between;
    align-items: center;}

    .bottom h3 {
        font-size: 28px;
    }

    .bottom img {
        width: 44px;
        height: 44px;
        margin-bottom: 2rem;
    }
}
