
.card {
    position: relative;
    width: 100%;
    max-width: 360px;
    margin: auto;
    font-family: Inter, sans-serif;
}

.bg {
    width: 100%;
    height: auto;
    z-index: 1;
}

.plantImg {
    position: absolute;
    top: -22%;
    left: 50%;
    transform: translateX(-50%);
    width: 230px;
}

.inner {
    position: absolute;
    top: 190px;
    width: 100%;
    padding-inline: 22px;
    color: var(--dim-white);
}

.cardContent h2 {
    font-size: 18px;
    font-weight: 500;
}

.cardContent p {
    font-size: 14px;
    opacity: 0.9;
}

/* Bottom row */
.bottom {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom h3 {
    font-size: 18px;
}

.bottom img {
    width: 36px;
    height: 36px;
}



@media (min-width: 600px) {
    .card {
        max-width: 420px;
    }

    .plantImg {
        width: 300px;
        top: -20%;
    }

    .inner {
        top: 220px;
        padding-inline: 26px;
    }

    .cardContent h2 {
        font-size: 20px;
    }

    .cardContent p {
        font-size: 15px;
    }

    .bottom h3 {
        font-size: 20px;
    }

    .bottom img {
        width: 42px;
        height: 42px;
    }
}


@media (min-width: 900px) {
    .card {
        max-width: 480px;
        max-height: 640px;
    }

    .plantImg {
        width: 360px;
        top: -18%;
    }

    .inner {
        top: 260px;
    }

    .cardContent h2 {
        font-size: 22px;
    }

    .cardContent p {
        font-size: 15px;
    }

    .bottom h3 {
        font-size: 22px;
    }

    .bottom img {
        width: 40px;
        height: 40px;
    }
}


@media (min-width: 1200px) {
    .card {
        max-width: 512px;
        max-height: 644px;
    }

    .plantImg {
        width: 420px;
        top: -20%;
    }

    .inner {
        top: 285px;
        padding-inline: 32px;
    }

    .cardContent h2 {
        font-size: 26px;
        font-weight: 600;
    }

    .cardContent p {
        font-size: 16px;
    }

    .bottom h3 {
        font-size: 26px;
    }

    .bottom img {
        width: 44px;
        height: 44px;
    }
}
