
.heading {
    text-align: center;
    margin-bottom: 64px;
}

.cardsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 49px;
    row-gap: 65px;
    margin-bottom: 300px;
}


/* 1280px */
@media (max-width: 1280px) {

    .cardsGrid {
        column-gap: 32px;
        row-gap: 50px;
    }


}

/* 992px */
@media (max-width: 992px) {

    .cardsGrid {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

}

/* 768px */
@media (max-width: 768px) {

    .cardsGrid {
        grid-template-columns: 1fr;
        justify-items: center;
    }

}

/* 480px */
@media (max-width: 480px) {

    .heading {
        margin-bottom: 40px;
    }


}
