
.card {
    width: 90vw;
    margin: 2rem auto;
    min-height: 480px;
    position: relative;
    font-family: Inter, sans-serif;
}

.bg {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

/* MOBILE LAYOUT */
.content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    padding: 24px;
    align-items: center;
    text-align: center;
}

.left{
    margin-top: -3.5rem;
}
.left h3 {
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin-top: -1rem;
    margin-bottom: 2px;
}

.left p {
    font-size: 14px;
    max-width: 100%;
    color: #dcdcdc;
    line-height: 1.5;
    margin-bottom: 16px;
}

.price {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 20px;
}

.plant {
    position: relative;
    order: -1;
    height: 280px;
    object-fit: contain;
    transform: translateY(-100px);
}
.cart{
    height: 40px;
    width: 40px;

}
.cart img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.reverse .plant {
    order: -1;
}

@media (min-width: 779px) {
    .card {
        width: 600px;
        min-height: 420px;
    }

    .content {
        padding: 40px;
    }

    .left h3 {
        font-size: 28px;
    }

    .left p {
        font-size: 16px;
        max-width: 340px;
    }

    .plant {
        height: 260px;
        transform: translateY(-20px);
    }
}

@media (min-width: 833px) {
    .card {
        width: 780px;
        height: 450px;
        border-radius: 60px;
    }

    .content {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        text-align: left;
        align-items: center;
        padding: 40px;
    }

    .left {
        padding-top: 4rem;
        margin-left: 2rem;
        grid-column: 1/2;
    }

    .btns {
        justify-content: flex-start;
    }

    .plant {
        position: absolute;
        inset: auto;
        right: 0;
        top: -40px;
        height: 380px;
    }

    .reverse .content {
        grid-template-columns: 1fr 1.5fr;
    }

    .reverse .left {
        grid-column: 2 / 3;
        text-align: left;
    }

    .left h3{
  font-size: 38px;
    }


    .left p {
        font-size: 20px;
        font-weight: 600;
    }
    .left .price{
        font-size: 32px;
    }

    .reverse .plant {
        left: 0;
        right: auto;
        top: -40px;
    }
    .cart{
        height: 60px;
        width: 60px;
    }
    .cart img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width: 1300px) {
    .card {
        width: 1300px;
        height: 500px;
    }

    .plant {
        height: 500px;
        top: -50px;
    }
}

@media (min-width: 1600px) {
    .card {
        max-width: 1619px;
        height: 526px;
    }

    .plant {
        height: 600px;
        top: -80px;
    }
}
